<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button class="pro-add" routerLink="add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button [hidden]="selectedArticles.size === 0" (click)="remove()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>

    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.articles"
        >
          <td class="name" [title]="a.name">{{ a.name | ellipsis: 15 }}</td>
          <td class="price">{{ a.price | currency }}</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
