<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    necessitatibus temporibus, quisquam recusandae velit veritatis at facere
    dolor officia animi id. Ad molestiae incidunt officia recusandae magni
    labore veniam enim.
  </p>

  <div>
    Icons made by <a href="" title="Icongeek26">Icongeek26</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</main>
